@use "../abstracts/variables" as *;

.core-insight {
  padding: 140px 0;
  background: $color-bg-light;
  text-align: center;
}

.core-insight__content {
  max-width: 800px;
  margin: 0 auto;
}

.core-insight__pre {
  font-family: $font-sans;
  font-size: $fs-md;
  color: $color-text-secondary;

  margin-bottom: 16px;
}

.core-insight__title {
  font-family: $font-serif;
  font-size: 56px;
  font-weight: $fw-bold;
  line-height: $lh-tight;

  color: $color-text-primary;
}

/* highlight coherente con Hero */
.highlight {
  font-family: $font-sans;

  background: linear-gradient(90deg, $color-accent, $color-accent-soft);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .core-insight__title {
    font-size: 36px;
  }
}
