@use "../abstracts/variables" as *;

.cta {
  min-height: calc(100vh - 72px);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: $space-8 0;

  text-align: center;
  background:
    radial-gradient(
      circle at center,
      rgba(108, 92, 231, 0.12),
      transparent 60%
    ),
    $color-bg-dark;
}

.cta__content {
  max-width: 700px;
  margin: 0 auto;
}

/* TITLE */

.cta__title {
  font-family: $font-serif;
  font-size: $fs-3xl;
  color: white;

  margin-bottom: $space-4;
}

/* SUBTITLE */

.cta__subtitle {
  font-size: $fs-md;
  color: $color-text-white-muted;

  margin-bottom: $space-5;
}

/* ACTIONS */

.cta__actions {
  display: flex;
  justify-content: center;
  gap: $space-3;
}

.cta__actions .btn {
  text-decoration: none;
}

.cta__actions .btn::after {
  display: none;
}

/* LEGAL LINKS */

.cta__legal {
  margin-top: $space-5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  a {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.35);
    text-decoration: none;

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  span {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.2);
  }
}

/* MOBILE */

@media (max-width: 768px) {
  .cta__actions {
    flex-direction: column;
    align-items: center;
  }
}
