@use "../abstracts/variables" as *;

.cta {
  padding: $space-9 0;
  text-align: center;

  background: radial-gradient(
      circle at center,
      rgba(108, 92, 231, 0.15),
      transparent 60%
    ),
    $color-bg-dark;
}

.cta__content {
  max-width: 700px;
  margin: 0 auto;
}

/* TITLE */
.cta__title {
  font-family: $font-serif;
  font-size: $fs-3xl;
  color: white;

  margin-bottom: $space-3;
}

/* SUBTITLE */
.cta__subtitle {
  font-size: $fs-md;
  color: $color-text-white-muted;

  margin-bottom: $space-5;
}

/* ACTIONS */
.cta__actions {
  display: flex;
  justify-content: center;
  gap: $space-3;
}