@use "../abstracts/variables" as *;

.vision {
  padding: $space-9 0;
  background:
    radial-gradient(
      circle at 50% 30%,
      rgba(108, 92, 231, 0.15),
      transparent 60%
    ),
    $color-surface;
  color: white;
  text-align: center;
  border-top: 1px solid $color-border;
}

.vision__content {
  max-width: 720px;
  margin: 0 auto;
}

/* TITLE */
.vision__title {
  font-family: $font-serif;
  font-size: $fs-4xl;
  font-weight: $fw-semibold;
  line-height: $lh-tight;

  color: $color-text-primary;

  max-width: 700px;
  margin: 0 auto $space-3 auto;
}

.vision__title span {
  color: $color-accent;
}

.vision__subtitle {
  font-family: $font-sans;
  font-size: $fs-lg;
  line-height: $lh-loose;

  color: $color-text-secondary;

  max-width: 560px;
  margin: 0 auto;
}
