@use "../abstracts/variables" as *;

.why {
  padding: 140px 0;
  background: $color-bg-dark;
  color: $color-text-white;
  text-align: center;
}

.why__content {
  max-width: 800px;
  margin: 0 auto;
}

.why__title {
  font-family: $font-serif;
  font-size: $fs-3xl;
  font-weight: $fw-semibold;

  margin-bottom: 12px;
}

.why__subtitle {
  font-family: $font-sans;
  font-size: $fs-xl;

  color: $color-text-white-muted;

  margin-bottom: 24px;
}

.why__text {
  font-size: $fs-md;
  color: $color-text-white-muted;
  line-height: $lh-normal;
}
